<div class="col-xs-12 col-sm-4">
    <h4>INGREDIENTS</h4>
    <textarea id='item-form' rows=10 cols=30>{{ current_version.items_as_text }}</textarea>
</div>
<div class="recipe-method-section col-xs-12 col-sm-8">
    <h4>METHOD</h4>
    <textarea id='method-form' rows=10 cols=60>{{ current_version.method }}</textarea>
</div>
<div class="col-xs-12">
    <h4>Notes</h4>
    <div class="row">
        <div class="col-xs-2">
            <h5>Change Notes</h5>
        </div>
        <div class="col-xs-10">
            <textarea id="change-note-form">{{ current_version.change_note }}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <h5>Result Notes</h5>
        </div>
        <div class="col-xs-10">
            <textarea id="result-note-form">{{ current_version.result_note }}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <h5>General Notes</h5>
        </div>
        <div class="col-xs-10">
            <textarea id="general-note-form">{{ current_version.notes }}</textarea>
        </div>
    </div>
</div>


